nav {
    min-height: 90vh;
    border-right: 1px solid white;
}

nav ul {
    padding-top: 20px;
}

nav ul li {
    background-color: #00000050;
    list-style-type: none;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}

nav ul li .link {
    text-decoration: none;
}

nav ul li .link:hover {
    color: #ff0000;
}

nav ul li.info {
    font-size: 15px; 
}

nav ul li .red{
    color: rgba(255, 0, 0, 0.952);
}
